@use './media-queries';

.LateralMenu{
    position: fixed;
    height: 100%;
    width: 240px;
    
    background-color: #2C3E50;
    color: white;
    z-index:100 ;
    nav{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 28px;
        padding: 32px 12px;
    }
    a{
        width: 100%;
        color: white;
        padding: 16px 10px;

    }
    a.active{
        background-color: #334457;
    }
    .btClose{
        display: none;
    }
   
}
@include media-queries.table{
    .LateralMenu{
        left: -300px;
        transition: all 2s ease;
        &.open{
            left: 0;
            top: 0;
        }
        .btClose{
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            margin: 16px;
            border: none;
            background: none;
            color: #ffffff;
            font-size: 20px;
            cursor: pointer;
        }
    }
}
