.ProductList{
    background-color: #ffffff;
    width: 100%;
    max-width: 1024px;
    th{
        text-align: left;
        padding-right: 40px;
        font-size: 18px;
    }
    td{
      
        padding: 8px 50px 4px 0;
    }
    .btsProductRow{
        display: flex;
        align-items: center;
        gap: 16px;
        button{

            border: none;
            background: none;
            cursor: pointer;
        }
    }
}